USERNAME=bob@example.com
PASSWORD=10203040
APP_ID=com.saucelabs.mydemoapp.android
PRODUCT_NAME=Sauce Labs Backpack
CHECKOUT_FULL_NAME=Bruno Amaral
CHECKOUT_ADDRESS=Rua Teste 123
CHECKOUT_CITY=Sao Paulo
CHECKOUT_STATE=SP
CHECKOUT_ZIP=01001000
CHECKOUT_COUNTRY=Brazil
CARD_NUMBER=3258125678907891
CARD_EXPIRATION=03/25
CARD_CVV=123
